<nav class="navbar navbar-expand-md bg-bhaskar">
    <div class="container-fluid d-flex justify-content-center">
    <div class="row">
        
            <a class="navbar-brand" href="#"> 
                     
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="sidebar">
                    <img src="https://c8.alamy.com/comp/2C611DT/auto-car-logo-icon-vector-illustration-template-modern-sport-car-vector-logo-icon-silhouette-design-auto-car-logo-vector-illustration-for-car-repair-2C611DT.jpg" alt=""height="70"width="70" style="border-radius:40px; ;" >
                    <ul class="navbar-nav">
                        
                        <li class="nav-item">
                           
                            <a class="nav-link" routerLink="/admin/home">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/car">addcar</a>
                        </li>
                         
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/carlist">Cars list</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/managecar">managecars</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">Logout</a>
                        </li>
                    </ul>
                </div>
           
    </div>
 </div>
</nav>
       
        
<router-outlet></router-outlet>